*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: color 0.3s, background-color 0.3s, -webkit-filter 0.3s;
    transition: color 0.3s, background-color 0.3s, -webkit-filter 0.3s;
    -o-transition: color 0.3s, background-color 0.3s, filter 0.3s;
    transition: color 0.3s, background-color 0.3s, filter 0.3s;
    transition: color 0.3s, background-color 0.3s, filter 0.3s, -webkit-filter 0.3s;
}

html {
    scroll-behavior: smooth;
}

:root {
    /* Colors */
    --white: #FFFFFF;
    --black: #171E28;
    --lightBlack: #222A35;
    --gray: #777777;
    --lightGray: #EBE6E0;
    --offWhite: #F6F5F1;
    --tan: #F4D6BE;
    --orange: #FD875F;
    --shadow: rgba(0, 0, 0, 0.25);
    --filter: invert(8%) sepia(34%) saturate(683%) hue-rotate(175deg) brightness(92%) contrast(91%);
    /* Fonts */
    --Rubik: 'Rubik', sans-serif;
    --Sorts: 'Sorts Mill Goudy', serif;
    /* Padding */
    --padding: 2em;
}

.dark-mode {
    --white: #171E28;
    --black: #F6F5F1;
    --lightBlack: #F6F5F1;
    --gray: #EBE6E0;
    --lightGray: #171E28;
    --offWhite: #222A35;
    --tan: #212121;
    --shadow: rgba(255, 255, 255, 0.25);
    --filter: invert(99%) sepia(99%) saturate(218%) hue-rotate(340deg) brightness(114%) contrast(93%);
}

::-moz-selection {
    color: var(--white);
    background-color: var(--black);
}

::selection {
    color: var(--white);
    background-color: var(--black);
}

body {
    background-color: var(--tan);
    color: var(--black);
    font-family: var(--Rubik);
    height: 100vh;
    min-width: 300px;
    max-width: 1980px;
    overflow-x: hidden;
    margin: 0 auto;
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img[src$=".svg"] {
    -webkit-filter: var(--filter);
            filter: var(--filter);
}

h1 {
    font-family: var(--Sorts);
}

.icons img, #moon, .border img {
    width: min(10.5vw, 40px); 
}

#menu {
    width: min(15vw, 55px);
}

.icons a {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.menu {
    display: none;
}

.bold {
    font-weight: bold;
    color: var(--black);
}

/* ----- Header styles ----- */

.header {
    background-color: var(--offWhite);
    padding: var(--padding);
    height: 300px;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* ----- Name styles ----- */

.name {
    background-color: var(--lightGray);
    padding: var(--padding);
    position: relative;
}

.name picture img {
    margin: -10em auto 1em auto;
    -webkit-filter: drop-shadow(0 0.25em 0.75rem var(--shadow));
            filter: drop-shadow(0 0.25em 0.75rem var(--shadow));
}

.border-left {
    border-left: 1px solid var(--black);
    padding-left: 1em;
    margin-bottom: 5em;
}

.border-left p {
    padding-top: 1em;
}

.border-left .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: flex-start;
        -ms-flex-pack: flex-start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2em;
    padding-bottom: 2em;
    margin-top: 2em;
}

p {
    color: var(--gray);
    font-size: 1.25rem;
}

h1 {
    color: var(--black);
    font-size: 2rem; /* max(2rem, 11vw) */
    line-height: 0.9;
    margin: 1.5em 0 1em 0;
}

/* ----- About styles ----- */

#about {
    background-color: var(--offWhite);
    padding: var(--padding);
}

#about .border {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: flex-start;
        -ms-flex-pack: flex-start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2em;
    padding: 1em;
    margin-bottom: 3em;
    border-left: 1px solid var(--black);
}

.music, .sports, .games {
    color: var(--black);
    font-size: 1rem /*min(5vw, 1rem)*/;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.5em;
    width: min(10.5vw, 40px);
}

#about p {
    margin-bottom: 1em;
}

#about a {
    background-color: var(--orange);
    color: #F6F5F1;
    padding: 1em 2em;
    border-radius: 5px;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    margin: 2em 0 5em 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/* ----- Resume styles ----- */

#resume {
    background-color: var(--lightGray);
    padding: var(--padding);
}

#resume .border {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: flex-start;
        -ms-flex-pack: flex-start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2em;
    padding: 1em;
    margin-bottom: 3em;
    border-left: 1px solid var(--black);
}

#resume > p {
    margin-bottom: 1em;
}

#resume h2 {
    margin: 1em 0;
    color: var(--black);
}

.sctc, .alabama, .eyesore, .sky {
    margin-bottom: 2em;
}

:is(.sctc, .alabama, .eyesore, .sky) * {
    color: var(--black);
}

#resume ul {
    margin-top: 0.5em;
}

.experience ul {
    padding-top: 1em;
} 

.experience li {
    list-style-type: circle;
    list-style-position: inside;
    color: var(--black);
    margin-bottom: 0.5em;
}

#resume a {
    background-color: var(--orange);
    color: #F6F5F1;
    padding: 1em 2em;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    margin: 2em 0 5em 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/* ----- Projects styles ----- */

#projects {
    background-color: var(--offWhite);
    padding: var(--padding);
}

#projects .border-left {
    padding-bottom: 1em;
}

#projects .border-left span {
    font-size: 1rem;
}

.project {
    position: relative;
}

.projects img {
    border-radius: 10px;
    margin: 5em auto 3em auto;
    -webkit-filter: drop-shadow(0 0.25em 0.75rem rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0 0.25em 0.75rem rgba(0, 0, 0, 0.25));
}

.code {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5vw;
    padding: 2em;
}

.code a, .code span {
    font-size: 1.75rem;
    color: var(--lightBlack);
    text-transform: uppercase;
}

.code span {
    color: var(--orange) !important;
}

.disabled {
    cursor: not-allowed;
}

.description * {
    font-size: 1.25rem;
}

.description li {
    color: var(--gray);
}

/* ----- Contact styles ----- */

#contact {
    background-color: var(--white);
    padding: 2em;
    text-align: center;
}

#contact h3 {
    color: var(--black);
}

#contact a {
    color: var(--orange);
    font-size: 1.25rem/*max(1.2rem, 6.5vw)*/;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/* ----- Footer styles ----- */

footer {
    background-color: var(--white);
    padding: 2em;
    border-top: 1px solid var(--gray);
    text-align: center;
}

/* ----- Hover effects ----- */

/*#menu:hover,*/ #moon:hover {
    cursor: pointer;
}

.icons a:hover {
    -webkit-transform: scale(120%);
        -ms-transform: scale(120%);
            transform: scale(120%);
}

#about a:hover, #resume a:hover {
    -webkit-transform: scale(110%);
        -ms-transform: scale(110%);
            transform: scale(110%);
}

.code:hover {
    opacity: 1;
}

.code a:hover, .code a:visited {
    color: var(--orange);
}

#contact a:hover {
    color: var(--black);
}

/* ----- Responsive styles ----- */

/* Tablet styles */
@media only screen and (min-width: 46.875em) {

    :root {
        --padding: 5em;
    }

    .header {
        height: 500px;
    }

    .name picture img {
        margin: -20em auto 1em auto;
    }
    
    .border-left {
        max-width: 85%;
    }

    p {
        font-size: 1.5rem;
    }
    
    h1 {
        font-size: 4rem;
    }

    #about .border {
        gap: 0;
        padding: 0;
    }

    .music, .sports, .games {
        font-size: 1.25rem;
        width: 100px;
    }

    .icons img, .border img {
        width: 50px; 
    }

    #about a {
        font-size: 1.25rem;
    }

    #resume h2 {
        font-size: 2rem
    }

    .experience li {
        font-size: 1.25rem;
    }

    #resume a {
        font-size: 1.25rem;
    }

    .projects > div {
        margin-bottom: 5em;
    }

    .projects img {
        margin: 0;
    }

    .description * {
        font-size: 1.5rem;
    }

    #contact {
        padding: 5em;
    }

    #contact h3 {
        font-size: 2rem;
    }

    #contact a {
        font-size: 2rem;
    }

    footer {
        padding: 2em 5em;
    }

}

/* Desktop styles */
@media only screen and (min-width: 65.625em) {

    :root {
        --padding: 10em;
    }
    
    .header {
        padding: 5em 10em 10em 10em;
        height: 700px;
    }

    .name picture img {
        margin: -35em auto 1em auto;
    }

    .name h1 {
        font-size: 5rem !important;
        padding-right: 0.5em;
    }

    .name p {
        font-size: 1.75rem !important;
    }

    .name span {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 5em 0;
        gap: 2em;
    }

    .border-left {
        max-width: 50%;
        margin-bottom: 0;
        padding-left: 5em;
    }
    
    .border-left .icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: flex-start;
            -ms-flex-pack: flex-start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 2em;
        padding-bottom: 2em;
        margin-top: 2em;
    }
    
    #about > span {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-top: 10em;
    }

    #about img {
        margin-bottom: 5em;
    }

    #info {
        max-width: 50%;
        border-left: 1px solid var(--black);
        padding: 4em 0 0 5em;
    }

    #about .border {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: flex-start;
            -ms-flex-pack: flex-start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 0;
        border-left: 0;
        padding: 4em 5em 6em 0;
    }

    .music, .sports, .games {
        font-size: 1.5rem;
        width: 100px;
    }

    .border img {
        width: 75px; 
    }

    #about a {
        font-size: 1.5rem;
    }

    #resume > span {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-top: 10em;
    }

    #resume img {
        margin-bottom: 5em;
    }

    #resume > span > span {
        max-width: 50%;
        border-left: 1px solid var(--black);
        padding-left: 5em;
    }

    #resume .border {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: flex-start;
            -ms-flex-pack: flex-start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 0;
        border-left: 0;
        padding: 3.5em 5em 0 0;
    }

    #resume h2 {
        font-size: 3rem
    }

    .experience li {
        font-size: 1.5rem;
    }

    #resume a {
        font-size: 1.5rem;
        text-align: center;
    }

    #projects .border-left {
        margin: 0 auto 7.5em auto;
    }

    .projects > div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: clamp(2em, 4vw, 5em);
        margin-bottom: 5em;
    }

    .projects > div > div {
        width: 50%;
    }

    p {
        font-size: 2rem;
    }
    
    h1 {
        font-size: 7.5rem;
    }

    .code {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.75);
        width: 100%;
        height: 100%;
        border-radius: 10px;
        -webkit-backdrop-filter: blur(2px);
                backdrop-filter: blur(2px);
        z-index: 1;
        opacity: 0;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .code a, .code span {
        color: #F6F5F1;
    }

    .description * {
        font-size: 2rem;
    }

    #contact {
        padding: 5em 10em;
    }

    #contact h3 {
        font-size: 3rem;
    }

    #contact a {
        font-size: 3rem;
    }

    footer {
        padding: 2em 10em;
    }

}